html, body {
  margin: 0;
  padding: 0;
}
body {
   background: #111;
   font-family: arial;
 }
 
 .welcome {
   border-radius: 5px;
   background: #fff;
   width: 240px;
   text-align: center;
   position: absolute;
   z-index: 99;
   left: 50%;
   top: 50%;
   padding: 3rem;
   transform: translate(-50%, -50%);
 }
   .welcome div {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
   }

   .welcome button {
      background: #da4a3f;
      border: none;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      font-size: .8rem;
      letter-spacing: .2rem;
      padding: 1rem 2rem;
      outline: 0;
      cursor: pointer;
      transition: all .3s;
   }
   .welcome button:hover {
     background: #b63d35;
   }
   .welcome button[disabled] {
     background: #ccc;
     cursor: default;
   }

   .welcome .link {
     display: block;
     padding-top: 20px;
     color: #666;
     text-transform: uppercase;
     font-size: 12px;
     cursor: pointer;
   }
   .welcome .link:hover {
    color: #000;
  }
 
 .game {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   padding: 40px;
   height: calc(100vh - 80px);
   align-items: middle;
 }

 .game.type-2 {
    grid-template-columns: 1fr 1fr;
 }

   .game div {
      align-items: center;
      background: #27272b;
      color: #fff;
      font-size: 3rem;
      font-weight: 700;
      display: grid;
      text-align: center;
      line-height: 0;
      border-radius: 6px;
      transform: rotateY(-180deg);
      transition: all .5s;
      opacity: 1;
   }

   .game div.selected {
      background: #da4a3f;
      transform: rotateY(0deg);
   }
   
   .game div.hidden {
      opacity: 0;
      background: #0497c4;
   }
 
 @media (max-width: 600px) {
   .game {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 50px 20px;
      height: calc(100vh - 160px);
   }

  .game div {
    font-size: 2rem;
  }

  .game.type-2,
  .game.type-4 {
    grid-template-columns: 1fr 1fr;
  }

  .game.type-6 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}